<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Appointment</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#date').change(function() {
                var selectedDate = $(this).val();
                $.ajax({
                    url: '/get_times',
                    type: 'POST',
                    data: { date: selectedDate },
                    success: function(response) {
                        $('#time').empty();
                        $.each(response.times, function(index, value) {
                            $('#time').append($('<option>').text(value).attr('value', value));
                        });
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>Book Appointment</h1>
    <form action="{{ url_for('book_appointment') }}" method="post">
        <label for="date">Select Date:</label>
        <select name="date" id="date">
            {% for date in available_dates %}
                <option value="{{ date }}">{{ date }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="time">Select Time:</label>
        <select name="time" id="time">
            <!-- Options will be populated dynamically using JavaScript -->
        </select>
        <br><br>
        <input type="submit" value="Book Appointment">
    </form>
</body>
</html>